@import "../mixins";

.catalog {
  
  background-image: url('../img/bg-points.  png');
    background-repeat: no-repeat;
    background-position: right, top;
  &__container {
  padding: 350px 0 175px ;
  }
  &__reset {
    outline: none;
    transition: color 0.3s ease-in-out;

    &:focus {
      color: var(--color-accent);
    }

    @include desktop {
      &:hover {
        color: var(--color-accent);
      }
    }

    &:focus {
      color: var(--color-accent-hover);
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 9 span;

    @include tablet {
      grid-column: 12 span;
    }
  }

  
}
.catalog__title{
  text-align: center;
  font: var(--prehigh-regular);
  color:var(--color-text);
  margin-bottom: 77px;
}
// .catalog__list {
  

//  }


.card {
  min-height: 584px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  width: 360px;
}
.card__info{
padding: 16px 16px 0 16px;
}

.card__spec {
  display: block;
  font: var(--middle-regular);
  color:var(--color-text);
  margin-bottom: 14px;
}

.card-title {
  font: var(--prehigh-regular);
  color:var(--color-qovernorbay);
  margin-bottom: 23px;
}
.card__type{
  display: block;
  text-align: center;
  background: #4340B4;
  border-radius: 9px;
  font: var(--middle-regular);
  color:var(--color-white);
  width: 166px;
  padding: 8px 0px ;
  margin-bottom: 24px;
  
}
.card__date {
  font: var(--middle-regular);
  color:var(--color-text);
}

.card__about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.card__about-text{
  border-left: 2px solid var(--color-qovernorbay);
  padding-left: 9px;
}
.card__about-img{
  max-width: 135px;
}
.card__members {
  display: block;
  font: var(--middle-book);
  color:var(--color-text);
  margin-bottom: 20px;
}
.btn--catalog__primary {
  font: var(--middle-regular);
  color: var(--color-white);
  background-color: var(--color-qovernorbay);
  
}

.btn--catalog__secondary {
  text-align: center;
  font: var(--middle-regular);
  color: var(--color-qovernorbay);
  background: rgba(83, 81, 196, 0.1);
  
}

.card__green{
  width: 200px;
  height: 250px;
  background-color: green;
}