@import "../mixins";

.hero {
  position: relative;
  padding-top: 193px;
  background-color: var(--color-bg);
  height: 753px;

  &__container {
      display: flex;
      --paddings: 15px;
      position: relative;
      align-items: center;
    
  }
  
  &__title {
    margin: 0;
    margin-top: 50px;
    margin-bottom: var(--second-offset);
    max-width: 50%;
    font: 700 36px / 140% var(--font-family);
    color: var(--color-main);

    @include small-tablet {
      max-width: none;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: var(--main-offset);
    font: var(--middle-book);
    color: var(--color-text);

    @include small-tablet {
      max-width: none;
    }
   &__team {
     max-width: 670px;

     @include small-tablet {
       max-width: none;
     }
  }

  @include small-tablet {
    padding: 50px 0;
    height: auto;
  }
}
}
.hero__about, .hero__team {
  width: 50%;
}
.hero__btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--small-offset);
  flex-wrap: wrap;
  
}
.hero__btns button + .hero__btns button{
  margin-right: var(--second-offset);
}

.hero__list {
  position: absolute;
  bottom: -250px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 12 span;
  background: #FFFFFF;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
  border-radius: 4px;
  padding: 50px 56px;


}


.hero__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__item:not(:last-child) {
  margin-right: 128px;
}
.hero__count {
  color: var(--color-main);
  font: var(--middle-high-bold);
}

.hero__text {
  color: var(--color-text);
  font: var(--prehigh-book);
  
}