<section class="catalog">
  <div class="container catalog__container">
    <h2 class="title catalog__title">Курсы обучения</h2>

    <div class="swiper-container1">
      <div class="swiper-wrapper">
        <div class="card__green">
          sfsdfdf
        </div>
        <div class="card__green">
          sfsdfdf
        </div>
        <div class="card__green">
          sfsdfdf
        </div>
        <div class="card__green">
          sfsdfdf
        </div>
      </div>
    </div>
    <ul class="catalog__list list-reset grid">
      <li class="card">
        <span class="card__spec">
          Курс для медиков
        </span>
        <h3 class="card-title">
          Канюльные техники
        </h3>
        <span class="card__type">
          Оффлайн
        </span>
        <span class="card__date">
          1 - 4 мая
        </span>
        <div class="card__about">
          <p class="card__about-text">
            Краткое описание <br>
            Что-то о курсе <br>
            Пару фактов
            <br>
            Краткое описание
          </p>
          <img class="" src="../img/face.jpg" alt="">
        </div>
        <span class="card__members">
          Свободно 2 из 15 мест
        </span>
        <button class="btn btn-reset btn--catalog__primary">Зарегистрироваться</button>
        <button class="btn btn-reset btn--catalog__secondary">Подробнее</button>
      </li>


    </ul>
  </div>
  </div>
</section>