<section class="catalog">
  <div class="container catalog__container">
    <h2 class="title catalog__title">Курсы обучения</h2>
    <ul class="catalog__list list-reset grid">
      <li class="card">
        <span class="card__spec">

        </span>
        <h3 class="card-title">

        </h3>
        <div class="card__date"></div>
        <p class="card__about">

        </p>
        <span class="card__members">

        </span>
        <button class="btn-reset btn btn--primary js-move-to">Зарегистрироваться</button>
        <button class="btn-reset btn btn--secondary js-move-to">Узнать подробнее</button>
      </li>
    </ul>
    <button class="catalog__more btn btn-reset btn--primary">Показать еще</button>
  </div>
  </div>
  </div>
</section>