<header class="header fix-block">
  <div class="container">
    <div class="header__top">
      <div class="header__left">

        <a class="logo">
          <svg>
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
          <span>Учебный центр <br> эстетической косметологии</span>
        </a>

      </div>
      <div class="header__right">
        <a class="logo__sci sci__phone">
          <svg>
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          0 (800) 508-622
        </a>
        <ul class="sci__list list-reset">
          <li>
            <a class="logo__sci">
              <svg>
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="logo__sci">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container header__container">
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">Курсы обучения</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Вебинары</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Видео-уроки</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Блог</a></li>
        <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Прайс</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Акции</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Магазин</a></li>
      </ul>
    </nav>

  </div>
  </div>
  </div>
</header>