<section class="hero">
  <div class="container hero__container">
    <div class="hero__about">
      <span class="hero__sm-text">Бесплатный вебинар</span>
      <h1 class="hero__title">
        ПРОФЕССИЯ КОСМЕТОЛОГ
      </h1>
      <p class="hero__descr">
        Приглашаем на&nbsp;бесплатный вебинар для профессиональных косметологов и&nbsp;интересующихся этой профессией
      </p>
      <button class="btn-reset btn btn--primary js-move-to">Зарегистрироваться</button>
      <button class="btn-reset btn btn--secondary js-move-to">Узнать подробнее</button>
    </div>
    <img class="hero__team" src="../img/our-team.jpg" alt="">




  </div>
  <div class="container hero__container">


    <ul class="hero__list list-reset">
      <li class="hero__item">
        <span class="hero__count">
          4000+
        </span>
        <p class="hero__text">
          Сертификатов мы выдали
        </p>
      </li>
      <li class="hero__item">
        <span class="hero__count">
          3500+
        </span>
        <p class="hero__text">
          Моделей в нашей базе
        </p>
      </li>
      <li class="hero__item">
        <span class="hero__count">
          1500+
        </span>
        <p class="hero__text">
          Специалистов мы обучили
        </p>
      </li>
      <li class="hero__item">
        <span class="hero__count">
          5500+
        </span>
        <p class="hero__text">
          Довольных клиентов
        </p>
      </li>
    </ul>
  </div>
  </div>
</section>